<!-- <app-flip-card>
  <ng-container front>
    <img src="https://api.adorable.io/avatars/150/1">
  </ng-container>
  <ng-container back>
    <img src="https://api.adorable.io/avatars/150/2">
  </ng-container>
</app-flip-card> -->
<div class="cards-container">
  <mat-card class="card">
    <mat-card-header>
      <img />
    </mat-card-header>
    <mat-card-content>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p>Some text about the jeans..</p>
    </mat-card-content>
    <mat-card-footer>
      <p><button>Add to Cart</button></p>
    </mat-card-footer>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <img />
    </mat-card-header>
    <mat-card-content>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p>Some text about the jeans..</p>
    </mat-card-content>
    <mat-card-footer>
      <p><button>Add to Cart</button></p>
    </mat-card-footer>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <img />
    </mat-card-header>
    <mat-card-content>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p>Some text about the jeans..</p>
    </mat-card-content>
    <mat-card-footer>
      <p><button>Add to Cart</button></p>
    </mat-card-footer>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <img />
    </mat-card-header>
    <mat-card-content>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p>Some text about the jeans..</p>
    </mat-card-content>
    <mat-card-footer>
      <p><button>Add to Cart</button></p>
    </mat-card-footer>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <img />
    </mat-card-header>
    <mat-card-content>
      <h1>Tailored Jeans</h1>
      <p class="price">$19.99</p>
      <p>Some text about the jeans..</p>
    </mat-card-content>
    <mat-card-footer>
      <p><button>Add to Cart</button></p>
    </mat-card-footer>
  </mat-card>
</div>